@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .login--button {
    background-color: rgb(0, 33, 55);
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    padding: 15px 20px;
    white-space: nowrap;
  }

  .login--button:hover {
    background-color: rgb(0, 46, 77);
    color: #ffffff;
  }

  .login--button span {
    display: flex;
    align-content: center;
    justify-content: center;
  }

  .login--button img {
    margin-right: 10px;
  }
}
